@import url('../_logo/_logo.css');
@import url('../_wrapper/_wrapper.css');

.roof {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 94px;
	border-bottom: 1px solid #595959;
}

.roof__menu-item {
	margin-left: 40px;
	color: white;
}

@media (max-width: 480px) {
	.roof {
		display: block;
		text-align: center;
	}

	.roof__menu { display: block; }
	.roof__menu-item { margin: 10px 20px; }
}