@import url('../../../../blocks/_wrapper/_wrapper.css');
@import url('../../../../blocks/_section-title/_section-title.css');
$def-blue: #71B6D5;

.info { padding-top: 60px; }

.info__content {
	text-align: center;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
}

.info__item {
	width: 180px;
	margin: auto;
	margin-bottom: 30px;
}

.info__item-title {
	margin: 20px auto 15px;
	font-weight: bold;
}

.info__item-descritpion { color: #7c7770; }

.info__item-icon {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: $def-blue;
	color: white;
	font-size: 25px;
}

@media (max-width: 800px) {
	.info__content { grid-template-columns: repeat(2, 1fr); }
}

@media (max-width: 400px) {
	.info__content { grid-template-columns: 1fr; }
}