.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center; }

.section-title__hr {
  width: calc(50% - 39px);
  height: 1px;
  background-color: #E5E5E5; }

.section-title__icon {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 24px;
  color: #71B6D5;
  font-size: 25px; }

.section-title__icon_circle {
  border-radius: 50%;
  font-size: 20px;
  background-color: #71B6D5;
  color: white; }

.section-title__text {
  margin: 20px auto 40px; }

.section-title__description {
  margin: 5px auto 0; }
