// @import url('default.css');
// @import url('blocks/header.css');
// @import url('blocks/footer.css');
$def-blue: #71B6D5;

@import url('_page-elements/_header-slider/_header-slider.css');
@import url('_page-elements/_about-us/_about-us.css');
@import url('_page-elements/_our-features/_our-features.css');
@import url('_page-elements/_flat-camera/_flat-camera.css');
@import url('_page-elements/_latest-project/_latest-project.css');
@import url('_page-elements/_client-testimonials/_client-testimonials.css');

@import url('../../blocks/_roof/_roof.css');
@import url('../../blocks/_footer/_footer.css');
@import url('../../normalize.css');

// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
	background-image: url('../../images/HeaderBackground.png');
	background-size: cover;
	min-height: 360px;
	max-height: 560px;
}