@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.logo {
  font-size: 30px;
  font-family: 'Pacifico', cursive; }

.logo_roof {
  color: white; }

.logo_left-bar {
  margin: 0px calc(50% - 68px); }
